textarea {
    width: 100%;
    border: none;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px 5px 0px 0px;
    border: 0px solid #9c9c9c;
    transition: all 0.5s;
    margin-top: 15px;
    resize: none;
}


/* button.primaryContained {
    color: #0674ec;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
} */


/* button.primaryContained:hover {
    background: #7347c1;
} */

.comment-user-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-form {
    min-height: auto;
}

.comment-main {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.comment-content {
    padding-left: 40px;
    padding-top: 5px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment-tree {
    border-left: 2px dashed #00AA3A;
}

.comment-image-upload>input {
    display: none;
}

.comment-add-row-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 10px;
    border-top: 1px solid #bcdcff;
}

.add-comment-box .form-group {
    background-color: #edf6ff;
    border-radius: 10px;
}

.comment-image-upload label {
    cursor: pointer;
}

.add-comment-box {
    padding: 10px;
}

.image-uploader {
    padding: 10px;
}

.image-uploader img {
    width: 100px;
    height: auto;
}
.image-cross-icon {
    width: 24px !important;
    position: absolute;
    margin-left: -12px;
    margin-top: -12px;
}